body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input, button {
    margin: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 5px;
}
button:hover {
    background-color: #45a049;
}